/* MOBILE */
@media screen and (min-width: 768px) and (max-width: 1280px){
    .desktop-br {display: none;}
    .tablet-br {display: block;}
    .mobile-br {display: none;}
    .for-animate {display: block; overflow: hidden; padding-bottom: 2px;}
    .text-margin-bottom {margin-bottom: 2vw;}

    html {display: block; width: 100%; position: relative;}
    body {display: block; width: 100%; position: relative; color: #ffffff; background-color: #000000;}

    a, a:hover {color: #ffffff;}
    
    .cursor {display: block; width: 40px; height: 40px; position: fixed; top: -40px; left: -40px; transform: translate(-20px, -20px); pointer-events: none; z-index: 9999; background-color: #8800ff; border-radius: 50%; mix-blend-mode: difference;
    }


    header {display: block; width: 100%; position: fixed; top: 0; left: 0; z-index: 9999;}
    .header-wrap {display: block; width: calc(100% - 64px); position: relative; margin: 0 auto;}
    .header-top {display: block; width: 100%; height: 65px; position: relative;}
    .header-nav {display: block; width: 100%; height: 65px; position: relative;}
    .header-set {display: flex; width: 100%; height: 64px; position: relative; justify-content: flex-start; align-items: flex-end;}
    .header-list {display: block; position: absolute; margin-bottom: 16px;}
    .header-list:first-child {left: 0;}
    .header-list:nth-child(2) {left: 130px;}
    .header-list:last-child {right: 0;}
    .header-btn {display: block; color: #ffffff; font-size: 18px; font-weight: 500;}
    .header-line {display: block; width: 100%; height: 1px; background-color: #ffffff;}

    .header-ex {display: block; width: 180px; height: 180px; position: absolute; top: 100px; right: 0; border-radius: 50%; transform-origin: 200px 100px; transform: scale(1); overflow: hidden;}
    .ex-btn {display: block; width: 176px; height: 176px; position: relative; border: 2px solid #ffffff; border-radius: 50%; background-color: #000000;}
    .ex-bg {display: block; width: 176px; height: 176px; position: relative; background-color: #8800ff; border-radius: 50%; transform-origin: 50% 50%; transform: scale(0);}
    .ex-text {display: flex; width: 126px; height: 176px; position: absolute; padding: 0 25px; top: 0; left: 0; border-radius: 50%; flex-direction: column; justify-content: center; font-size: 24px; font-weight: 500;}
    .ex-inner-bottom {display: flex; width: 100%; justify-content: space-between; align-items: center;}
    .ex-inner-arrow {display: block; margin-left: 12px;}
    .ex-inner-arrow img {display: block; width: 100%;}

    #wrap {display: block; width: 100%; height: 100%; position: relative;}
    

    #main {display: block; width: 100%; height: 100vh; position: relative; background-color: #000000; padding-bottom: 80px;}
    .main-wrap {display: block; width: 100%; height: 100%; position: relative;}
    .main-bg {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: linear-gradient(90deg, #80808040 1px, transparent 0), linear-gradient(#80808040 1px, transparent 0); background-size: 80px 80px; background-position: 4vw 6vw;}
    .main-inner {overflow: hidden; display: flex; width: calc(100% - 64px); height: 100%; position: relative; margin: 0 auto; flex-direction: column; justify-content: space-between; align-items: flex-start;}
    .main-top {display: block; width: 100%; position: relative; margin-top: 100px;}
    .main-text {display: block; width: 630px; position: relative; margin-bottom: 24px; font-size: 24px; font-weight: 300;}
    .main-text-line {display: block; width: 630px; height: 1px; position: relative; background-color: #ffffff; margin-bottom: 20px;}
    .main-title {display: block; width: 100%; position: absolute; bottom: 20px;}
    .main-title-inner {width: 100%;}
    .main-title-inner img {width: 100%;}

    .sec {display: block; width:100%; position: relative; background-color: #000000;}
    .sec-title {display: block; width: calc(100% - 64px); height: 43px; margin: 0 auto; position: sticky; top: 66px; z-index: 9998;}
    .title-inner {display: flex; width: 100%; height: 42px; position: relative; font-size: 20px; font-weight: 400; line-height: 42px;}
    .title-num {display: block; width: 130px;}
    .title-line-top {display: none;}
    .title-line-bottom {display: block; width: 100%; height: 1px; position: relative; background-color: #ffffff;}
    .content {display: block; width: 100%; position: relative; top: -43px;}
    .line-design-top {display: block; width: 100%; height: 1px; background-color: #ffffff;}

    #about {height: 1180px;}
    .about-content {height: 1180px;}
    .about-wrap {display: block; width: calc(100% - 64px); height: calc(100% - 480px); position: relative; margin: 0 auto; padding-top: 480px;}
    .about-inner {display: flex; width: 100%; height: 100%; position: relative; flex-direction: column; }
    .about-box {display: flex; width: 100%; position: relative; margin-bottom: 60px; justify-content: space-between;}
    .about-left {display: block; width: 70px; position: relative;}
    .about-left-text {display: block; width: 100%; position: relative; font-size: 16px; margin-top: 12px;}
    .about-blank {display: block; width: 0; position: relative;}
    .about-right {display: block; width:70%; min-width: 630px; position: relative;}
    .about-right-inner {display: flex; width: 100%; position: relative;}
    .about-right-mean {display: block;  width: 300px; position: relative; font-size: 18px; font-weight: 300; line-height: 24px; margin-top: 12px;}
    .about-right-title {display: block; min-width: 330px; position: relative; font-size: 92px; font-weight: 800; margin-top: 16px;}
    .about-right-subtitle {display: block; min-width: 330px; position: relative; font-size: 72px; font-weight: 700;}

    #research {height: 2480px;}
    .research-content {height: 100%;}
    .research-wrap {display: block; width: calc(100% - 100px); height: 980px; position: sticky; top: 0; margin: 0 auto; padding-top: 20vh;}
    .research-inner {display: flex; flex-direction: column; width: 100%; height: 100%; position: relative; justify-content: flex-start; align-items: center; overflow: hidden;}
    .research-left {display: block; width: 100%; height: 100%; position: relative;}
    .research-stack-set {display: flex; width: 100%; height: 100%; position: relative; flex-direction: column;}
    .research-stack {display: block; width: 100%; height: 92px; position: relative; margin-bottom: -1px; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;}
    .research-box {display: block; width: 100%; height: 100%; position: relative;}
    .quotation {display: block; width: 12px; height: 12px; margin-top: 20px; margin-left: 6px; background-image: url(../img/quote.png); background-size: 12px 12px;}
    .research-talk {display: flex; width: calc(100% - 12px); position: relative; justify-content: space-between; margin: 8px 6px 0 6px;}
    .research-talk p {display: block; height: 40px; font-size: 24px; line-height: 40px;}
    .talk-emoji {display: block; width: 40px; height: 40px; position: relative;}
    .talk-emoji img {display: block; width: 100%; height: 100%; position: relative;}
    .research-right {display: block; position: absolute; top: 600px; right: 0; font-size: 32px; font-weight: 300; margin-left: 80px;}
    .research-arrow {display: inline-block; width: 6vw; height: 2.4vw; position: relative; overflow: hidden; margin: 0 12px 0 8px;}
    .research-arrow img {height: 100%; position: absolute; right: 0; bottom: -0.1vw;}

    #goal {height: 1480px;}
    .goal-content {height: 100%;}
    .goal-wrap {display: block; width: calc(100% - 64px); height: 880px; position: sticky; top: 0; margin: 0 auto; padding-top: 160px;}
    .goal-inner {display: block; width: calc(100% - 130px); height: 100%; position: relative; margin-left: 130px;}
    .goal-box {display: block; width: 100%; margin-bottom: 24px;}
    .goal-num {display: block; width: 100%; position: relative; font-size: 48px;}
    .goal-sub {display: block; position: relative; top: -12px; margin-bottom: 6px; margin-left: 16px; font-size: 96px;}
    .goal-text {display: block; position: relative; font-size: 24px; font-weight: 300; line-height: 30px;}
    .goal-bottom {margin-top: 24px;}

    #keyword {height: 110vh;}
    .keyword-content {height: 100%;}
    .keyword-wrap {display: block; width: 100%; height: calc(100% - 360px); position: relative; padding-top: 180px; padding-bottom: 180px;}
    .keyword-inner {display: block; width: 100%; height: 100%; position: relative;}
    .keyword-box {display: block; width: 100%; height: 33.3%; position: relative;}
    .keyword-main {display: block; width: 100%; height: 100%; position: relative; background-size: auto 100%; background-repeat: repeat-x;}
    .keyword-main1 {background-image: url(../img/keyword1.jpg); background-position-x: 0;}
    .keyword-main2 {background-image: url(../img/keyword2.jpg); background-position-x: 0;}
    .keyword-main3 {background-image: url(../img/keyword3.jpg); background-position-x: 0;}
    .keyword-text {display: none; position: absolute; z-index: 1; font-size: 24px; opacity: 0;}
    .keyword-text1 {top: 120%; left: 162px;}
    .keyword-text2 {top: -60%; right: 162px;}
    .keyword-text3 {top: -60%; left: 292px;}
    .keyword-arrow {line-height: 24px; margin-right: 8px;}

    #target {height: 110vh;}
    .target-content {height: 100%;}
    .target-wrap {display: block; width: calc(100% - 64px); height: calc(100% - 160px); position: relative; margin: 0 auto; padding-top: 160px; padding-bottom: 160px;}
    .target-inner {display: block; width: 100%; height: 100%; position: relative;}
    .target-image {display: block; min-width: 706px; width: 70%; position: relative; margin: 0 auto;}
    .target-image img {width: 100%;}
    .target-box {display: block; height: 320px; position: absolute; top: 51%; right: 0;}
    .target-text {display: block; font-size: 32px; line-height: 36px; font-weight: 300;}
    .target-text-right {text-align: right;}
    .target-num {vertical-align: top; font-size: 14px;}
    .text-em {display: inline; border-bottom: 2px solid #ffffff;}
    .target-text .text-em {display: inline-block; height: 36px; position: relative; top: 12px;}
    .text-em span {display: inline-block;}

    #space {height: 400vh;}
    .space-content {height: 100vh; position: sticky; top: 0;}
    .space-wrap {display: block; width: 100%; height: 100%; position: relative; padding: 0;}
    .space-inner {display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}

    .space-img {display: block; width: 400%; height: 100%; position: absolute; top: 0; left: 100%; background-color: #ffffff;}
    .space-img-box {display: block; position: absolute;}
    .space-img-box img {width:100%;}
    .img-cs1 {width: 55vw; bottom: 2vw; left: 0;}
    .img-cs2 {width: 30vw; top: 14vw; left: 60vw;}
    .img-cs3 {width: 20vw; top: 32vw; left: 80vw;}
    .img-cs4 {width: 45vw; top: 8vw; left: 105vw;}
    .img-tr1 {width: 25vw; bottom: 2vw; left: 160vw;}
    .img-tr2 {width: 50vw; top: 16vw; left: 190vw;}
    .img-tr3 {width: 22vw; bottom: 2vw; left: 245vw;}
    .img-tr4 {width: 25vw; top: 10vw; left: 270vw;}
    .img-tr5 {width: 45vw; bottom: 3vw; left: 300vw;}
    .img-tr6 {width: 40vw; top: 9vw; left: 350vw;}

    .space-text {display: block; width: 200%; position: absolute; top: 0; left:0; color: #000000;}
    .text-cs {display: block; position: absolute; top: 15vh; margin-left: 50px;}
    .text-cs-inner {display: flex; position: relative; font-size: 8vw; align-items:center;}
    .text-cs-inner:nth-child(2) {left: 24vw; margin-top: -1vw;}
    .space-star {display: block; position: relative; height: 7vw; margin-top: -2vw;}
    .space-star img {display: block; height: 100%;}
    .text-cs-kr {display: block; position: absolute; bottom: 1.5vw; left: 8vw;}
    .text-tr {display: block; position: absolute; top: 15vh; margin-left: 50px; left: 50%;}
    .text-tr-inner {display: flex; position: relative; font-size: 8vw; align-items: center;}
    .text-tr-kr {display: block; position: relative; left: 8vw;}

    #experience {height: 90vw;}
    .experience-content {height: 100%}
    .experience-wrap {display: block; width: 100%; height: 86vw; position: sticky; top: 0; padding-top: 0;}
    .experience-inner {display: block; width: 100%; height: 100%; position: relative;}
    .experience-bg {display: block; width: 100%; height: 86vw; position: absolute; overflow: hidden; top: 0;}
    .experience-bg-color {display: block; width: 100%; height: 100%; position: absolute; background-color: #8800ff; border-top-left-radius: 9999px; border-top-right-radius: 9999px; bottom: 0; transform-origin: 50% 100%; transform: scale(2);}
    .experience-area {display: block; width: calc(100% - 100px); height: 86vw; position: relative; margin: 0 auto; z-index: 1;}
    .experience-box {display: block; position: absolute; font-size: 10vw;}
    .box-experience {top: 20%;}
    .box-video {top: 55%; right: 0;}
    .experience-ex-btn, .experience-video-btn {color: #000000;}
    .experience-ex-btn:hover,  .experience-video-btn:hover {color: #000000;}
    .experience-star {display: block; height: 6vw;}
    .experience-star .experience-inner {display: block;}
    .experience-text-top {display: block; height: 10vw;}
    .experience-text-bottom {display: flex; height: 10vw; justify-content: space-between;}
    .experience-arrow {height: 9vw; position: relative; top: -1.5vw; right: -1.5vw;}
    .experience-arrow img {height:100%;}

    #video {height: 90vw;}
    .video-content {height: 100%;}
    .video-wrap {display: block; width: 100%; height: 100%; position: relative;}
    .video-inner {display: block; width: 100%; height: 100%; position: relative;}
    .video-area {display: block; width: 100%; height: 56.25vw; position: relative;}
    .video-player {display: block; width: 100%; position: absolute; top: -43px;}
    .video-text {display: block; width: calc(100% - 64px); height: 33.75vw; position: relative;}
    .video-text-box {display: block; position: absolute; top: 0%; right: 0; font-size: 32px; line-height: 40px;}

    #review {height: 100vh;}
    .review-content {height: 100%;}
    .review-wrap {display: block; width: calc(100% - 100px); height: calc(100% - 120px); position: relative; margin: 0 auto; padding-top: 120px;}
    .review-inner {display: block; width: 100%; height: 100%; position: relative;}
    .review-bg {opacity: 0.7; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
    .review-bg p {display: block; position: relative; font-size: 11vw; line-height: 9vw; white-space:pre;}
    .review-bg-right {text-align: right;}
    .review-area {display: block; width: 100%; height: 100%; position: relative; z-index: 1;}
    .review-top {display: flex; width: 100%; height: calc(90% - 100px); position: relative; padding-bottom: 20px; justify-content: space-between; align-items: flex-start;}
    .review-left {display: flex; width: 50%; height: 100%; position: relative; flex-direction: column; justify-content: flex-end; align-items: flex-start;}
    .review-right {display: flex; width: 50%; height:100%; position: relative; flex-direction: column; justify-content: flex-end; align-items: flex-end;}
    .review-talk {display: inline-block; margin-bottom: 16px; padding: 12px 24px; font-size: 18px; border: 1px solid #ffffff; border-radius: 40px; background-color: #000000;}
    .review-bottom {display: block; width: 100%; height: 60px; position: relative;}
    .review-form {display: flex; width: 100%; height: 60px; position: relative;}
    .review-input {display: block; width: calc(100% - 144px); height: 58px; border: 1px solid #ffffff;}
    .review-type {display: block; width: calc(100% - 48px); height: 100%; padding: 0 24px; font-size: 24px; border: none; background-color: #000000; color: #ffffff;}
    .review-btn {display: block; width: 128px; height: 58px; border: 1px solid #ffffff; margin-left: 12px;}
    .review-submit {display: block; width: 100%; height: 100%; font-size: 24px; color: #4D4D4D;}

    #team {height: 72vw;}
    .team-content {height: 100%;}
    .team-wrap {display: block; width: calc(100% - 64px); height: calc(100% - 120px); position: relative; margin: 0 auto; padding-top: 120px;}
    .team-inner {display: block; width: 100%; height: 100%; position: relative;}
    .team-top {display: block; width: 100%; height: 52vw; position: relative;}
    .team-main-bg {display: flex; width: 100%; position: absolute; justify-content: space-between; top: 11.5vw;}
    .team-bg-circle {display: block; width: 21vw; height: 21vw; position: relative; background-color: #8800ff; border-radius: 50%;}
    
    .team-main-emoji {display: flex; width: 100%; position: absolute; justify-content: space-between; top: 11.5vw;}
    .team-emoji {display: block; width: 21vw; height: 21vw; position: relative;}
    .team-emoji img {display: block; width: 116%; height: 116%; margin-top: -8%; margin-left: -8%;}

    .team-main-text1 {display: block; position: absolute; font-size: 20vw; top: 0; left: 0;}
    .team-main-text2 {display: block; position: absolute; font-size: 20vw; top: 30vw; right: 0;}

    .team-bottom {display: flex; width: 100%; height: 20vw; padding-bottom: 120px; position: relative; flex-direction: column;}
    .team-member-title {display: block; width: 100%; height: 100%; position: relative; font-size: 20px;}
    .team-member {display: block; width: 100%; position: relative;}
    .team-member-ul {display: flex; width: 100%; height: 100%; position: relative; justify-content: space-between; margin-top: 24px;}
    .team-member-li {display: block; width: 23%;}
    .team-member-box {display: block; width: 100%; height: 100%;}
    .team-member-star, .team-member-part {display: block; width: 100%; font-size: 16px;}
    .team-member-name {display: block; width: 100%; font-size: 24px; margin-top: 8px; margin-bottom: 40px;}
    .team-member-email, .team-member-phone {display: block; width: 100%; font-size: 16px; margin-top: 6px; word-wrap: break-word;}
    .team-member-portfolio {display: block; width: 100%; font-size: 100%; line-height: 120%; text-decoration: underline; margin-top: 20px; word-wrap: break-word;}


}

@media screen and (max-width: 767px){
    .desktop-br {display: none;}
    .tablet-br {display: none;}
    .mobile-br {display: block;}
    .for-animate {display: block; overflow: hidden; padding-bottom: 2px;}
    .text-margin-bottom {margin-bottom: 2vw;}

    html {display: block; width: 100vw; height: 100vh; position: relative;}
    body {display: block; width: 100%; height: 100%; position: relative; color: #ffffff; background-color: #000000;}

    a, a:hover {color: #ffffff;}
    
    .cursor {display: none; width: 40px; height: 40px; position: fixed; top: -40px; left: -40px; transform: translate(-20px, -20px); pointer-events: none; z-index: 9999; background-color: #8800ff; border-radius: 50%; mix-blend-mode: difference;
    }


    header {display: block; width: 100vw; position: fixed; top: 0; left: 0; z-index: 9999;}
    .header-wrap {display: block; width: calc(100% - 32px); position: relative; margin: 0 auto;}
    .header-top {display: block; width: 100%; height: 60px; position: relative;}
    .header-nav {display: block; width: 100%; height: 60px; position: relative;}
    .header-set {display: flex; width: 100%; height: 59px; position: relative; justify-content: flex-start; align-items: flex-end;}
    .header-list {display: block; position: absolute; margin-bottom: 12px;}
    .header-list:first-child {left: 0;}
    .header-list:nth-child(2) {left: 80px;}
    .header-list:last-child {right: 0;}
    .header-btn {display: block; color: #ffffff; font-size: 16px; font-weight: 500;}
    .header-line {display: block; width: 100%; height: 1px; background-color: #ffffff;}

    .header-ex {display: block; width: 94px; height: 59px; position: absolute; top: 0px; right: 100px; transform-origin: 100% 100%;}
    .ex-btn {display: block; position: absolute; bottom: 12px;}
    .ex-bg {display: none; width: 176px; height: 176px; position: relative; background-color: #8800ff; border-radius: 50%; transform-origin: 50% 50%; transform: scale(0);}
    .ex-text {display: flex; position: relative; flex-direction: row; justify-content: center; font-size: 16px; font-weight: 500; }
    .ex-inner-bottom {display: block; justify-content: space-between; align-items: center; margin-left: 4px;}
    .ex-inner-arrow {display: none; margin-left: 12px;}
    .ex-inner-arrow img {display: block; width: 100%;}

    #wrap {display: block; width: 100%; position: relative;}
    

    #main {display: block; width: 100%; height: 100vh; position: relative; background-color: #000000; padding-bottom: 80px;}
    .main-wrap {display: block; width: 100%; height: 100%; position: relative;}
    .main-bg {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: linear-gradient(90deg, #80808040 1px, transparent 0), linear-gradient(#80808040 1px, transparent 0); background-size: 80px 80px; background-position: 8vw 6vw;}
    .main-inner {overflow: hidden; display: flex; width: calc(100% - 32px); height: 100%; position: relative; margin: 0 auto; flex-direction: column; justify-content: space-between; align-items: flex-start;}
    .main-top {display: block; width: 100%; position: relative; margin-top: 100px;}
    .main-text {display: block; width: 350px; position: relative; margin-bottom: 20px; font-size: 20px; font-weight: 300;}
    .main-text-line {display: block; width: 350px; height: 1px; position: relative; background-color: #ffffff; margin-bottom: 20px;}
    .main-title {display: block; width: 100%; position: absolute; bottom: 20px;}
    .main-title-inner {width: 100%;}
    .main-title-inner img {width: 100%;}
    
    .sec {display: block; width:100%; position: relative; background-color: #000000;}
    .sec-title {display: block; width: calc(100% - 32px); height: 40px; margin: 0 auto; position: sticky; top: 60px; z-index: 9998;}
    .title-inner {display: flex; width: 100%; height: 39px; position: relative; font-size: 16px; font-weight: 400; line-height: 43px;}
    .title-num {display: block; width: 80px;}
    .title-line-top {display: none;}
    .title-line-bottom {display: block; width: 100%; height: 1px; position: relative; background-color: #ffffff;}
    .content {display: block; width: 100%; position: relative; top: -43px;}
    .line-design-top {display: block; width: 100%; height: 1px; background-color: #ffffff;}

    #about {height: 1180px;}
    .about-content {height: 1180px;}
    .about-wrap {display: block; width: calc(100% - 32px); height: calc(100% - 400px); position: relative; margin: 0 auto; padding-top: 400px;}
    .about-inner {display: flex; width: 100%; height: 100%; position: relative; flex-direction: column; }
    .about-box {display: flex; width: 100%; position: relative; margin-bottom: 60px; justify-content: space-between;}
    .about-left {display: block; width: 70px; position: relative;}
    .about-left-text {display: block; width: 100%; position: relative; font-size: 16px; margin-top: 12px;}
    .about-blank {display: none; width: 0; position: relative;}
    .about-right {display: block; width:70%; position: relative;}
    .about-right-inner {display: flex; width: 100%; position: relative; flex-direction: column;}
    .about-right-mean {display: block;  width: 300px; position: relative; font-size: 18px; font-weight: 300; line-height: 24px; margin-top: 12px;}
    .about-right-title {display: block; min-width: 330px; position: relative; font-size: 18vw; font-weight: 800; margin-top: 16px;}
    .about-right-subtitle {display: block; min-width: 330px; position: relative; font-size: 14vw; font-weight: 700;}

    #research {height: 2480px;}
    .research-content {height: 100%;}
    .research-wrap {display: block; width: calc(100% - 32px); height: 980px; position: sticky; top: 0; margin: 0 auto; padding-top: 15vh;}
    .research-inner {display: flex; flex-direction: column; width: 100%; height: 100%; position: relative; justify-content: flex-start; align-items: center; overflow: hidden;}
    .research-left {display: block; width: 100%; height: 100%; position: relative;}
    .research-stack-set {display: flex; width: 100%; height: 100%; position: relative; flex-direction: column;}
    .research-stack {display: block; width: 100%; height: 92px; position: relative; margin-bottom: -1px; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;}
    .research-box {display: block; width: 100%; height: 100%; position: relative;}
    .quotation {display: block; width: 12px; height: 12px; margin-top: 20px; margin-left: 6px; background-image: url(../img/quote.png); background-size: 12px 12px;}
    .research-talk {display: flex; width: calc(100% - 12px); position: relative; justify-content: space-between; margin: 8px 6px 0 6px;}
    .research-talk p {display: block; height: 40px; font-size: 20px; line-height: 40px;}
    .talk-emoji {display: block; width: 30px; height: 30px; position: relative; margin-top: 5px;}
    .talk-emoji img {display: block; width: 100%; height: 100%; position: relative;}
    .research-right {display: block; position: absolute; top: 600px; right: 0; font-size: 5vw; line-height: 6.6vw; font-weight: 300;}
    .research-arrow {display: inline-block; width: 10vw; height: 5vw; position: relative; overflow: hidden; margin: 0 6px 0 3px;}
    .research-arrow img {height: 100%; position: absolute; right: 0; bottom: -0.5vw;}
    .text-margin-bottom {margin-bottom: 20px;}

    #goal {height: 1080px;}
    .goal-content {height: 100%;}
    .goal-wrap {display: block; width: calc(100% - 32px); height: 680px; position: sticky; top: 0; margin: 0 auto; padding-top: 160px;}
    .goal-inner {display: block; width: 100%; height: 100%; position: relative;}
    .goal-box {display: block; width: 100%; margin-bottom: 24px;}
    .goal-num {display: block; width: 100%; position: relative; font-size: 40px;}
    .goal-sub {display: block; position: relative; top: -8px; margin-bottom: 10px; margin-left: 16px; font-size: 72px;}
    .goal-text {display: block; position: relative; font-size: 18px; font-weight: 300; line-height: 30px;}
    .goal-bottom {margin-top: 32px;}

    #keyword {height: 110vh;}
    .keyword-content {height: 100%;}
    .keyword-wrap {display: block; width: 100%; height: calc(100% - 360px); position: relative; padding-top: 180px; padding-bottom: 180px;}
    .keyword-inner {display: block; width: 100%; height: 100%; position: relative;}
    .keyword-box {display: block; width: 100%; height: 20%; position: relative; margin-bottom: 13.3%;}
    .keyword-main {display: block; width: 100%; height: 100%; position: relative; background-size: auto 100%; background-repeat: repeat-x;}
    .keyword-main1 {background-image: url(../img/keyword1.jpg); background-position-x: 0;}
    .keyword-main2 {background-image: url(../img/keyword2.jpg); background-position-x: 0;}
    .keyword-main3 {background-image: url(../img/keyword3.jpg); background-position-x: 0;}
    .keyword-text {display: none; position: absolute; z-index: 1; font-size: 16px; opacity: 0;}
    .keyword-text1 {top: 100%; left: 16px;}
    .keyword-text2 {top: -50%; right: 96px;}
    .keyword-text3 {top: -50%; left: 96px;}
    .keyword-arrow {line-height: 24px; margin-right: 8px;}

    #target {height: 100vh;}
    .target-content {height: 100%;}
    .target-wrap {display: block; width: calc(100% - 32px); height: calc(100% - 160px); position: relative; margin: 0 auto; padding-top: 160px; padding-bottom: 160px;}
    .target-inner {display: block; width: 100%; height: 100%; position: relative;}
    .target-image {display: block; width: 100%; position: relative; margin: 0 auto;}
    .target-image img {width: 100%;}
    .target-box {display: block; height: 320px; position: absolute; top: 50%; right: 0;}
    .target-text {display: block; font-size: 20px; line-height: 30px; font-weight: 300;}
    .target-text-right {text-align: right;}
    .target-num {vertical-align: top; font-size: 12px;}
    .text-em {display: inline; border-bottom: 2px solid #ffffff;}
    .target-text .text-em {display: inline-block; height: 24px; position: relative; top: 6px;}
    .text-em span {display: inline-block;}

    #space {height: 400vh;}
    .space-content {height: 100vh; position: sticky; top: 0;}
    .space-wrap {display: block; width: 100%; height: 100%; position: relative; padding: 0;}
    .space-inner {display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}

    .space-img {display: block; width: 400%; height: 100%; position: absolute; top: 0; left: 100%; background-color: #ffffff;}
    .space-img-box {display: block; position: absolute;}
    .space-img-box img {width:100%;}
    .img-cs1 {width: 55vw; bottom: 2vw; left: 0;}
    .img-cs2 {width: 30vw; top: 14vw; left: 60vw;}
    .img-cs3 {width: 20vw; top: 32vw; left: 80vw;}
    .img-cs4 {width: 45vw; top: 8vw; left: 105vw;}
    .img-tr1 {width: 25vw; bottom: 2vw; left: 160vw;}
    .img-tr2 {width: 50vw; top: 16vw; left: 190vw;}
    .img-tr3 {width: 22vw; bottom: 2vw; left: 245vw;}
    .img-tr4 {width: 25vw; top: 10vw; left: 270vw;}
    .img-tr5 {width: 45vw; bottom: 3vw; left: 300vw;}
    .img-tr6 {width: 40vw; top: 9vw; left: 350vw;}

    .space-text {display: block; width: 200%; position: absolute; top: 0; left:0; color: #000000;}
    .text-cs {display: block; position: absolute; top: 15vh; margin-left: 50px;}
    .text-cs-inner {display: flex; position: relative; font-size: 8vw; align-items:center;}
    .text-cs-inner:nth-child(2) {left: 24vw; margin-top: -1vw;}
    .space-star {display: block; position: relative; height: 7vw; margin-top: -2vw;}
    .space-star img {display: block; height: 100%;}
    .text-cs-kr {display: block; position: absolute; bottom: 1.5vw; left: 8vw;}
    .text-tr {display: block; position: absolute; top: 15vh; margin-left: 50px; left: 50%;}
    .text-tr-inner {display: flex; position: relative; font-size: 8vw; align-items: center;}
    .text-tr-kr {display: block; position: relative; left: 8vw;}

    #experience {height: 80vh;}
    .experience-content {height: 100%}
    .experience-wrap {display: block; width: 100%; height: 80vh; position: sticky; top: 0; padding-top: 0;}
    .experience-inner {display: block; width: 100%; height: 100%; position: relative;}
    .experience-bg {display: block; width: 100%; height: 80vh; position: absolute; overflow: hidden; top: 0;}
    .experience-bg-color {display: block; width: 100%; height: 100%; position: absolute; background-color: #8800ff; border-top-left-radius: 9999px; border-top-right-radius: 9999px; bottom: 0; transform-origin: 50% 100%; transform: scale(2);}
    .experience-area {display: block; width: calc(100% - 32px); height: 80vh; position: relative; margin: 0 auto; z-index: 1;}
    .experience-box {display: block; position: absolute; font-size: 16vw;}
    .box-experience {top: 20%;}
    .box-video {top: 55%; right: 0;}
    .experience-ex-btn, .experience-video-btn {color: #000000;}
    .experience-ex-btn:hover,  .experience-video-btn:hover {color: #000000;}
    .experience-star {display: block; height: 10vw;}
    .experience-star .experience-inner {display: block;}
    .experience-text-top {display: block; height: 16vw;}
    .experience-text-bottom {display: flex; height: 16vw; justify-content: space-between;}
    .experience-arrow {height: 9vw; position: relative; top: -1.5vw; right: -1.5vw;}
    .experience-arrow img {height:100%;}

    #video {height: 100vw;}
    .video-content {height: 100%;}
    .video-wrap {display: block; width: 100%; height: 100%; position: relative;}
    .video-inner {display: block; width: 100%; height: 100%; position: relative;}
    .video-area {display: block; width: 100%; height: 56.25vw; position: relative;}
    .video-player {display: block; width: 100%; position: absolute; top: 0;}
    .video-text {display: block; width: calc(100% - 32px); height: 43.75vw; position: relative; margin: 0 auto;}
    .video-text-box {display: block; position: absolute; top: 10%; right: 0; font-size: 18px; line-height: 26px;}

    #review {height: 100vh;}
    .review-content {height: 100%;}
    .review-wrap {display: block; width: calc(100% - 32px); height: calc(100% - 80px); position: relative; margin: 0 auto; padding-top: 80px;}
    .review-inner {display: block; width: 100%; height: 100%; position: relative;}
    .review-bg {opacity: 0.7; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
    .review-bg p {display: block; position: relative; font-size: 11vw; line-height: 9vw; white-space:pre;}
    .review-bg-right {text-align: right;}
    .review-area {display: block; width: 100%; height: 100%; position: relative; z-index: 1;}
    .review-top {display: flex; flex-direction: column; width: 100%; height: calc(90% - 40px); position: relative; padding-bottom: 12px; justify-content: flex-end;}
    .review-left {display: flex; width: 100%; position: relative; flex-direction: column;}
    .review-right {display: flex; width: 100%; position: relative; flex-direction: column;}
    .review-talk {display: inline-block; margin-bottom: 12px;}
    .review-talk-left {text-align: left;}
    .review-talk-right {text-align: right;}
    .review-talk p {display: inline-block; padding: 8px 16px; font-size: 16px; border: 1px solid #ffffff; border-radius: 40px; background-color: #000000;}
    .review-bottom {display: block; width: 100%; height: 40px; position: relative;}
    .review-form {display: flex; width: 100%; height: 40px; position: relative;}
    .review-input {display: block; width: calc(100% - 68px); height: 38px; border: 1px solid #ffffff;}
    .review-type {display: block; width: calc(100% - 32px); height: 100%; padding: 0 16px; font-size: 18px; border: none; background-color: #000000; color: #ffffff;}
    .review-btn {display: block; width: 58px; height: 38px; border: 1px solid #ffffff; margin-left: 8px;}
    .review-submit {display: block; width: 100%; height: 100%; font-size: 18px; color: #4D4D4D;}

    #team {height: 100vh;}
    .team-content {height: 100%;}
    .team-wrap {display: block; width: calc(100% - 32px); height: calc(100% - 120px); position: relative; margin: 0 auto; padding-top: 120px;}
    .team-inner {display: block; width: 100%; height: 100%; position: relative;}
    .team-top {display: block; width: 100%; height: 52vw; position: relative;}
    .team-main-bg {display: flex; width: 100%; position: absolute; justify-content: space-between; top: 11.5vw;}
    .team-bg-circle {display: block; width: 21vw; height: 21vw; position: relative; background-color: #8800ff; border-radius: 50%;}
    
    .team-main-emoji {display: flex; width: 100%; position: absolute; justify-content: space-between; top: 11.5vw;}
    .team-emoji {display: block; width: 21vw; height: 21vw; position: relative;}
    .team-emoji img {display: block; width: 116%; height: 116%; margin-top: -8%; margin-left: -8%;}

    .team-main-text1 {display: block; position: absolute; font-size: 20vw; top: 0; left: 0;}
    .team-main-text2 {display: block; position: absolute; font-size: 20vw; top: 30vw; right: 0;}

    .team-bottom {display: flex; width: 100%; height: 20vw; padding-bottom: 120px; position: relative; flex-direction: column;}
    .team-member-title {display: block; width: 100%; height: 100%; position: relative; font-size: 20px;}
    .team-member {display: block; width: 100%; position: relative;}
    .team-member-ul {display: flex; width: 100%; height: 100%; position: relative; justify-content: space-between; margin-top: 24px; flex-wrap: wrap;}
    .team-member-li {display: block; width: 48%; margin-bottom: 28px;}
    .team-member-li:nth-child(n) {margin-right: 1%;}
    .team-member-li:nth-child(2n) {margin-right: 0; margin-left: 1%;}
    .team-member-box {display: block; width: 100%; height: 100%;}
    .team-member-star, .team-member-part {display: block; width: 100%; font-size: 14px;}
    .team-member-name {display: block; width: 100%; font-size: 16px; margin-top: 8px; margin-bottom: 40px;}
    .team-member-email, .team-member-phone {display: block; width: 100%; font-size: 12px; margin-top: 6px; word-wrap: break-word;}
    .team-member-portfolio {display: block; width: 100%; font-size: 12px; line-height: 120%; text-decoration: underline; margin-top: 20px; word-wrap: break-word;}


}