@media screen and (min-width: 768px) and (max-width: 1280px){

    .desktop-br {display: block;}
    .tablet-br {display: none;}
    .mobile-br {display: none;}
    .for-animate {display: block; overflow: hidden; padding-bottom: 2px;}
    .text-margin-bottom {margin-bottom: 2vw;}

    html {display: block; width: 100%; position: relative; }
    body {display: block; width: 100%; position: relative; color: #ffffff; background-color: #000000; overflow-x: hidden;}

    a, a:hover {color: #ffffff;}
    
    .cursor {display: block; width: 40px; height: 40px; position: fixed; top: -40px; left: -40px; transform: translate(-20px, -20px); pointer-events: none; z-index: 9999; background-color: #8800ff; border-radius: 50%; mix-blend-mode: difference;
    }


    header {display: block; width: 100%; position: fixed; top: 0; left: 0; z-index: 9999;}
    .header-wrap {display: block; width: calc(100% - 64px); position: relative; margin: 0 auto;}
    .header-top {display: block; width: 100%; height: 65px; position: relative;}
    .header-nav {display: block; width: 100%; height: 65px; position: relative;}
    .header-set {display: flex; width: 100%; height: 64px; position: relative; justify-content: flex-start; align-items: flex-end;}
    .header-list {display: block; position: absolute; margin-bottom: 16px;}
    .header-list:first-child {left: 0;}
    .header-list:nth-child(2) {left: 130px;}
    .header-list:last-child {right: 0;}
    .header-btn {display: block; color: #ffffff; font-size: 18px; font-weight: 500;}
    .header-line {display: block; width: 100%; height: 1px; background-color: #ffffff;}

    .header-ex {display: block; width: 180px; height: 180px; position: absolute; top: 100px; right: 0; border-radius: 50%; transform-origin: 200px 100px; transform: scale(1); overflow: hidden;}
    .ex-btn {display: block; width: 176px; height: 176px; position: relative; border: 2px solid #ffffff; border-radius: 50%; background-color: #000000;}
    .ex-bg {display: block; width: 176px; height: 176px; position: relative; background-color: #8800ff; border-radius: 50%; transform-origin: 50% 50%; transform: scale(0);}
    .ex-text {display: flex; width: 126px; height: 176px; position: absolute; padding: 0 25px; top: 0; left: 0; border-radius: 50%; flex-direction: column; justify-content: center; font-size: 24px; font-weight: 500;}
    .ex-inner-bottom {display: flex; width: 100%; justify-content: space-between; align-items: center;}
    .ex-inner-arrow {display: block; margin-left: 12px;}
    .ex-inner-arrow img {display: block; width: 100%;}

    .header-ex-mobile {display: none;}
    .ex-btn-mobile {display: block;}

    #wrap {display: block; width: 100%; height: 100%; position: relative;}
    

    #main {display: block; width: 100%; height: 100vh; position: relative; background-color: #000000; padding-bottom: 80px;}
    .main-wrap {display: block; width: 100%; height: 100%; position: relative;}
    .main-bg {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: linear-gradient(90deg, #80808040 1px, transparent 0), linear-gradient(#80808040 1px, transparent 0); background-size: 80px 80px; background-position: 4vw 6vw;}
    .main-inner {overflow: hidden; display: flex; width: calc(100% - 64px); height: 100%; position: relative; margin: 0 auto; flex-direction: column; justify-content: space-between; align-items: flex-start;}
    .main-top {display: block; width: 100%; position: relative; margin-top: 100px;}
    .main-text {display: block; width:630px; position: relative; margin-bottom: 24px; font-size: 20px; font-weight: 300;}
    .main-text-line {display: block; width: 630px; height: 1px; position: relative; background-color: #ffffff; margin-bottom: 20px;}
    .main-title {display: block; width: 100%; position: absolute; bottom: 20px;}
    .main-title-inner {width: 100%;}
    .main-title-inner img {width: 100%;}

    .sec {display: block; width:100%; position: relative; background-color: #000000;}
    .sec-title {display: block; width: calc(100% - 64px); height: 43px; margin: 0 auto; position: sticky; top: 66px; z-index: 9998;}
    .title-inner {display: flex; width: 100%; height: 42px; position: relative; font-size: 20px; font-weight: 400; top: 7px;}
    .title-num {display: block; width: 130px;}
    .title-line-top {display: none;}
    .title-line-bottom {display: block; width: 100%; height: 1px; position: relative; background-color: #ffffff;}
    .content {display: block; width: 100%; position: relative; top: -43px;}
    .line-design-top {display: block; width: 100%; height: 1px; background-color: #ffffff;}

    #about {height: 1180px;}
    .about-content {height: 1180px;}
    .about-wrap {display: block; width: calc(100% - 64px); height: calc(100% - 480px); position: relative; margin: 0 auto; padding-top: 480px;}
    .about-inner {display: flex; width: 100%; height: 100%; position: relative; flex-direction: column; }
    .about-box {display: flex; width: 100%; position: relative; margin-bottom: 60px; justify-content: space-between;}
    .about-left {display: block; width: 80px; position: relative;}
    .about-left-text {display: block; width: 100%; position: relative; font-size: 20px; margin-top: 16px;}
    .about-blank {display: none; width: 215px;  position: relative;}
    .about-right {display: block; width: calc(100% - 130px); position: relative;}
    .about-right-inner {display: flex; width: 100%; position: relative;}
    .about-right-mean {display: block;  width: 310px; position: relative; font-size: 20px; font-weight: 300; line-height: 26px; margin-top: 16px;}
    .about-right-title {display: block; position: relative; font-size: 10vw; font-weight: 800; margin-top: 16px;}
    .about-right-subtitle {display: block;  position: relative; font-size: 7.5vw; font-weight: 700; margin-top: 16px;}

    #research {height: 2580px;}
    .research-content {height: 100%;}
    .research-wrap {display: block; width: calc(100% - 64px); height: 1300px; position: sticky; top: 0; margin: 0 auto; padding-top: 160px;}
    .research-inner {display: flex; flex-direction: column; width: 100%; height: 1100px; position: relative; justify-content: space-between; align-items: flex-start; overflow: hidden;}
    .research-left {display: block; min-width: 500px; width: 40%; height: 560px; position: relative;}
    .research-stack-set {display: flex; width: 100%; height: 100%; position: relative; flex-direction: column;}
    .research-stack {display: block; width: 100%; height: 92px; position: relative; margin-bottom: -1px; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;}
    .research-box {display: block; width: 100%; height: 100%; position: relative;}
    .quotation {display: block; width: 12px; height: 12px; margin-top: 20px; margin-left: 6px; background-image: url(../../img/index/quote.png); background-size: 12px 12px;}
    .research-talk {display: flex; width: calc(100% - 12px); position: relative; justify-content: space-between; margin: 8px 6px 0 6px;}
    .research-talk p {display: block; height: 40px; font-size: 24px; line-height: 40px;}
    .talk-emoji {display: block; width: 40px; height: 40px; position: relative;}
    .talk-emoji img {display: block; width: 100%; height: 100%; position: relative;}
    .research-right {display: block; position:absolute; top: 640px; right: 0; font-size: 32px; font-weight: 300; margin-left: 80px;}
    .research-arrow {display: inline-block; width: 6vw; height: 2.4vw; position: relative; overflow: hidden; margin: 0 12px 0 8px;}
    .research-arrow img {height: 100%; position: absolute; right: 0; bottom: -0.1vw;}

    #goal {height: 1480px; display: none;}
    .goal-content {height: 100%;}
    .goal-wrap {display: block; width: calc(100% - 64px); height: 880px; position: sticky; top: 0; margin: 0 auto; padding-top: 18vh;}
    .goal-inner {display: block; width: calc(100% - 450px); height: 100%; position: relative; margin-left: 450px;}
    .goal-box {display: block; width: 100%; margin-bottom: 3vw;}
    .goal-num {display: block; width: 100%; position: relative; font-size: 3.2vw;}
    .goal-sub {display: block; position: relative; top: -1vw; margin-bottom: 0.3vw; margin-left: 16px; font-size: 7.5vw;}
    .goal-text {display: block; position: relative; font-size: 1.7vw; font-weight: 300; line-height: 2.2vw;}
    .goal-bottom {margin-top: 3vw;}

    #equip {height: 1680px;}
    .equip-content {height: 100%;}
    .equip-wrap {display: block; width: calc(100% - 64px); height: 880px; position: sticky; top: 0; margin: 0 auto; padding-top: 160px;}
    .equip-inner {display: block; width: 100%; height: 100%; position: relative;  }
    .equip-top {display: block; width: 100%; position: relative;}
    .equip-text {display: block; width: calc(100% - 130px); margin: 0 0 0 130px; font-size: 2.4vw; color: #000;}
    .equip-bottom {display: block; width: 100%; height: 100%; position: absolute; bottom: 0; }
    /* .equip-bottom img {} */
    .hmd {display: block; width: 50%; position: absolute; left: 32px; bottom: 40%; z-index: 2;}
    .cont1 {display: block; width: 30%;  position: absolute; left: 45%; bottom: 50%; z-index: 1;}
    .cont2 {display: block; width: 40%; position: absolute; right: 0; bottom: 30%; z-index: 2;}
    .oq-text {display: block; position: absolute; right: 32px; color: #000; bottom: 30%;}

    #keyword {height: 120vh;}
    .keyword-content {height: 100%; }
    .keyword-wrap {display: block; width: 100%; height: calc(110vh - 400px); position: sticky; top: 0; padding-top: 200px; padding-bottom: 200px;}
    .keyword-inner {display: block; width: 100%; height: 100%; position: relative;}
    .keyword-box {display: block; width: 100%; height: 33.3%; position: relative;}
    .keyword-main {display: block; width: 100%; height: 100%; position: relative; background-size: auto 100%; background-repeat: repeat-x;}
    .keyword-main1 {background-image: url(../../img/index/keyword1.jpg); background-position-x: 0;}
    .keyword-main2 {background-image: url(../../img/index/keyword2.jpg); background-position-x: 0;}
    .keyword-main3 {background-image: url(../../img/index/keyword3.jpg); background-position-x: 0;}
    .keyword-text {display: none; position: absolute; z-index: 1; font-size: 2vw; opacity: 0;}
    .keyword-text1 {top: 130%; left: 350px;}
    .keyword-text2 {top: -70%; right: 300px;}
    .keyword-text3 {top: -70%; left: 500px;}
    .keyword-arrow {line-height: 2vw; margin-right: 8px;}

    #target {height: 120vh;}
    .target-content {height: 100%;}
    .target-wrap {display: block; width: 100%; height: 100vh; position: sticky; top:0; margin-top: -5vh; }
    .target-inner {display: block; width: 100%; height: 100%; position: relative;}
    .target-image {display: none; width: 60%; position: relative; margin-left: 150px;}
    .target-image img {width: 100%;}
    .target-bg {display: block; width: 100%; height: 120vh; position: absolute; top: 0px; overflow: hidden;}
    .target-video {height: 100%; position: relative; top:0;}
    .target-box {display: block; position: absolute; top: 40%; right: 50px;}
    .target-text {display: block; font-size: 32px; line-height: 48px; font-weight: 300;}
    .target-text-right {text-align: right;}
    .target-num {vertical-align: top; font-size: 12px;}
    .text-em {display: inline; border-bottom: 2px solid #ffffff;}
    .target-text .text-em {display: inline-block; height: 38px; position: relative; top: 6px;}
    .text-em span {display: inline-block;}

    #space {height: 600vh;}
    .space-content {height: 100vh; position: sticky; top: 0;}
    .space-wrap {display: block; width: 100%; height: 100%; position: relative; padding: 0;}
    .space-inner {display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}

    .space-img {display: block; width: 400%; height: 100%; position: absolute; top: 0; left: 100%; background-color: #ffffff;}
    .space-img-box {display: block; position: absolute;}
    .space-img-box img {width:100%;}
    .img-cs1 {width: 55vw; bottom: 2vw; left: 0;}
    .img-cs2 {width: 30vw; top: 14vw; left: 60vw;}
    .img-cs3 {width: 20vw; top: 32vw; left: 80vw;}
    .img-cs4 {width: 45vw; top: 8vw; left: 105vw;}
    .img-tr1 {width: 25vw; bottom: 2vw; left: 160vw;}
    .img-tr2 {width: 50vw; top: 16vw; left: 190vw;}
    .img-tr3 {width: 22vw; bottom: 2vw; left: 245vw;}
    .img-tr4 {width: 25vw; top: 10vw; left: 270vw;}
    .img-tr5 {width: 45vw; bottom: 3vw; left: 300vw;}
    .img-tr6 {width: 40vw; top: 9vw; left: 350vw;}

    .space-text {display: block; width: 200%; position: absolute; top: 0; left:0; color: #000000;}
    .text-cs {display: block; position: absolute; top: 15vh; margin-left: 50px;}
    .text-cs-inner {display: flex; position: relative; font-size: 8vw; align-items:center; line-height: 8vw;}
    .text-cs-inner:nth-child(2) {left: 24vw; margin-top: -1vw;}
    .space-star {display: block; position: relative; height: 7vw;}
    .space-star img {display: block; height: 100%;}
    .text-cs-kr {display: block; position: absolute; font-size: 1vw; bottom: 50px; left: 8vw;}
    .text-tr {display: block; position: absolute; top: 15vh; margin-left: 50px; left: 50%;}
    .text-tr-inner {display: flex; position: relative; font-size: 8vw; align-items: center;}
    .text-tr-kr {display: block; position: relative; left: 8vw; font-size: 1vw;}

    #experience {height: 1800px; z-index: 10;}
    .experience-content {height: 100%}
    .experience-wrap {display: block; width: 100%; height: 1380px; position: sticky; top: 0; padding-top: 0;}
    .experience-inner {display: block; width: 100%; height: 100%; position: relative;}
    .experience-bg {display: block; width: 100%; height: 100%; position: absolute; overflow: hidden; top: 0;}
    .experience-bg-color {display: block; width: 100%; height: 100%; position: absolute; background-color: #8800ff; border-top-left-radius: 9999px; border-top-right-radius: 9999px; bottom: 0; transform-origin: 50% 100%; transform: scale(2);}
    .experience-area {display: block; width: calc(100% - 64px); height: 100%; position: relative; margin: 0 auto; z-index: 1;}
    .experience-box {display: block; position: absolute; font-size: 10vw;}
    .box-experience {top: 120px;}
    .box-video {top: 700px; right: 0;}
    .experience-ex-btn, .experience-video-btn {color: #000000;}
    .experience-ex-btn:hover,  .experience-video-btn:hover {color: #000000;}
    .experience-star {display: block; height: 8vw;}
    .experience-star .experience-inner {display: block;}
    .experience-text-top {display: block; height: 12vw; margin-top: -2vw;}
    .experience-text-bottom {display: flex; height: 12vw; justify-content: space-between; margin-top: -2vw;}
    .experience-arrow {height: 9vw; position: relative; top: -1.5vw; right: -1.5vw;}
    .experience-arrow img {height:100%;}

    #video {height: 1480px; background-color: #8800ff;}
    .video-content {height: 100%;}
    .video-wrap {display: block; width: 100%; height: 1080px; position: sticky; top:0;}
    .video-inner {display: block; width: 100%; height: 100%; position: relative;}
    .video-bg {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
    .video-bg-inner {display: block; width: 100%; height: 100%; position: absolute; background-color: #000000; border-top-left-radius: 9999px; border-top-right-radius: 9999px; bottom: 0; transform-origin: 50% 100%; transform: scale(2);}
    /* .video-area {display: block; width: 100%; height: 56.25vw; position: relative;} */
    /* .video-player {display: block; width: 100%; position: absolute; top: -43px;} */
    .video-text {display: block; width: calc(100% - 64px); height: 100%; position: relative; margin: 0 auto;}
    .video-text-box {display: block; position: absolute; top: 40%; right: 0; font-size: 36px;}
    .video-text-box p {display: block; width: 100%;}
    .video-text-right {text-align: right;}

    #review {height: 1080px;}
    .review-content {height: 100%;}
    .review-wrap {display: block; width: calc(100% - 64px); height: calc(100% - 180px); position: relative; margin: 0 auto; padding-top: 180px;}
    .review-inner {display: block; width: 100%; height: 100%; position: relative;}
    .review-bg {opacity: 0.7; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
    .review-bg p {display: block; position: relative; font-size: 11vw; line-height: 9vw; white-space:pre;}
    .review-bg-right {text-align: right;}
    .review-area {display: block; width: 100%; height: 100%; position: relative; z-index: 1;}
    .review-top {display: flex; width: 100%; height: calc(90% - 100px); position: relative; padding-bottom: 20px; justify-content: space-between; align-items: flex-start;}
    .review-left {display: flex; width: 50%; height: 100%; position: relative; flex-direction: column; justify-content: flex-end; align-items: flex-start;}
    .review-right {display: flex; width: 50%; height:100%; position: relative; flex-direction: column; justify-content: flex-end; align-items: flex-end;}
    .review-talk {display: inline-block; margin-bottom: 16px; padding: 12px 32px; font-size: 2vw; border: 1px solid #ffffff; border-radius: 40px; background-color: #000000;}
    .review-bottom {display: block; width: 100%; height: 80px; position: relative;}
    .review-form {display: flex; width: 100%; height: 80px; position: relative;}
    .review-input {display: block; width: calc(100% - 164px); height: 78px; border: 1px solid #ffffff;}
    .review-type {display: block; width: calc(100% - 64px); height: 100%; padding: 0 32px; font-size: 1.8vw; border: none; background-color: #000000; color: #ffffff;}
    .review-btn {display: block; width: 148px; height: 78px; border: 1px solid #ffffff; margin-left: 12px;}
    .review-submit {display: block; width: 100%; height: 100%; font-size: 32px; color: #4D4D4D;}

    #team {height: 1600px;}
    .team-content {height: 100%;}
    .team-wrap {display: block; width: calc(100% - 100px); height: calc(100% - 120px); position: relative; margin: 0 auto; padding-top: 120px;}
    .team-inner {display: block; width: 100%; height: 100%; position: relative;}
    .team-top {display: block; width: 100%; height: 52vw; position: relative;}
    .team-main-bg {display: flex; width: 100%; position: absolute; justify-content: space-between; top: 33.3%;}
    .team-bg-circle {display: block; width: 22vw; height: 22vw; position: relative; background-color: #8800ff; border-radius: 50%;}
    
    .team-main-emoji {display: flex; width: 100%; position: absolute; justify-content: space-between; top: 33.3%;}
    .team-emoji {display: block; width: 22vw; height: 22vw; position: relative;}
    .team-emoji img {display: block; width: 116%; height: 116%; margin-top: -8%; margin-left: -8%;}

    .team-main-text1 {display: block; position: absolute; font-size: 20vw; top: 0; left: 0;}
    .team-main-text2 {display: block; position: absolute; font-size: 20vw; top: 58%; right: 0;}

    .team-bottom {display: flex; flex-direction: column; width: 100%; height: 20vw; padding-top: 120px; padding-bottom: 120px; position: relative; justify-content: space-between;}
    .team-member-title {display: block; width: 100%; height: 100%; position: relative; font-size: 30px;}
    .team-member {display: block; width: 100%; position: relative;}
    .team-member-ul {display: flex; width: 100%; height: 100%; position: relative; flex-wrap: wrap;}
    .team-member-li {display: block; width: 46%; margin-right: 4%; margin-top: 40px;}
    .team-member-box {display: block; width: 100%; height: 100%;}
    .team-member-star, .team-member-part {display: block; width: 100%; font-size: 14px;}
    .team-member-name {display: block; width: 100%; font-size: 18px; margin-top: 8px; margin-bottom: 60px;}
    .team-member-email, .team-member-phone {display: block; width: 100%; font-size: 14px; margin-top: 6px;}
    .team-member-portfolio {display: block; width: 100%; font-size: 12px; line-height: 120%; text-decoration: underline; margin-top: 20px; word-wrap: break-word;}
    
    .video-area {cursor:auto; display: none; justify-content: center; width: 100%; height: 100vh;  position: fixed; top: 0; left: 0; overflow: hidden; z-index: 9999; background-color :#000; opacity: 0;}
    /* .video-player {height: 100%; object-fit: contain; position: relative; } */
    .video-close {cursor:pointer; display: block; position: absolute; top: 100px; right: 32px; cursor: pointer; z-index: 10;}
    .video-close img {cursor:pointer;}
}